*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#c46767;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container{
    height: 70vh;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap :1vmin;
    
}
.box
{
    border: 2px solid #000;
    border-radius: 25px;
    height:18vmin;
    width: 18vmin;
    box-shadow:0 0 1rem 0.2rem #000;
    font-size: 3rem;
    /* text-align: center; */
    display:flex;
    justify-content: center;
    align-items: center;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    margin-top: 8px;
    border : 1px solid #000;
    border-radius: 20px;
}